<% layout('layout') -%>



<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-6">
            <% if (errors.length > 0) { %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= errors %>
            </div>
            <% } %>
            <form method="POST">
                <h1>SignUp</h1>
                <div class="form-group">
                    <input class="form-control" name="name" placeholder="User Name" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="email" placeholder="User Email" type="email">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <!-- <button type="submit" class="btn btn-info btn-lg btn-block">Sign In</button> -->
                    <button type="submit" class="btn btn-sucess">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>